<footer class="page-footer brown">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text title ">Igreja Vida em Cristo</h5>
                <p class="grey-text text-lighten-4">
                    "Porque Deus amou o mundo de tal maneira que deu seu único Filho para que todo aquele que n'Ele crer não pereça, mas tenha a vida eterna"
                    João 3:16
                </p>


            </div>
            <div class="col l6 s12">
                <h5 class="white-text">Links</h5>
                <ul style="columns: 2; -webkit-columns: 2; -moz-columns: 2;">
                    <li><a class="white-text" href="https://www.youtube.com/user/FamiliVidaemCristo" target="_blank">Culto ao Vivo</a></li>
                    <li><a class="white-text" href="../igreja/MDA.aspx">Visão</a></li>
                    <li><a class="white-text" href="../igreja/Historia.aspx">História</a></li>
                    <li><a class="white-text" href="../igreja/MDA.aspx">MDA</a></li>
                    <li><a class="white-text" href="../tadel/index.aspx">Tadel</a></li>
                    <li><a class="white-text" href="../igreja/Localizacao.aspx">Localização</a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="footer-copyright">
        <div class="container">
            Desenvolvido por <a class="brown-text text-lighten-3" href="http://u2x.com.br">U2X</a>
        </div>
    </div>
</footer>



<!--  Midia Social -->
<div id="divMidiaSocial" style="position: fixed; bottom: 0; right: 0;">
    <a href="https://www.facebook.com/www.igrejavidaemcristo.com.br" target="_blank">
        <img src="/img/facebook-logo-button.png" alt="Facebook" class="imagem-social">
    </a>
    <a href="https://plus.google.com/+IgrejavidaemcristoBr/posts" target="_blank">
        <img src="/img/google-plus-logo-button.png" alt="Google +" class="imagem-social">
    </a>
    <!-- <a href="https://www.facebook.com/www.igrejavidaemcristo.com.br"  target="_blank">
      <img src="img/instagram-logo.png" alt="Instagram" class="imagem-social">
    </a>-->
    <a href="https://twitter.com/@IVCOsasco?Igreja_Vida_em_Cristo" target="_blank">
        <img src="/img/twitter-logo-button.png" alt="Twitter" class="imagem-social">
    </a>
    <a href="https://www.youtube.com/user/FamiliVidaemCristo" target="_blank">
        <img src="/img/youtube-logo.png" alt="Youtube" class="imagem-social">
    </a>
</div>
