/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
    font-family: 'agency_fb';
    src: url('../fonts/AgencyFB/agency_fb.ttf') format('truetype');
}


h5, h4, h1{
    font-family: 'agency_fb';
    src: url('../fonts/AgencyFB/agency_fb.ttf') format('truetype');
}

nav ul a,
nav .brand-logo {
    color: #444;
}

p {
    line-height: 2rem;
}

.button-collapse {
    color: #26a69a;
}

.parallax-container {
    min-height: 400px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

    .parallax-container .section {
        width: 100%;
    }

@media only screen and (max-width : 992px) {
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    #middle-banner .section, #index-banner .section {
        top: 10%;
    }
}

@media only screen and (max-width : 600px) {
    #middle-banner .section, #index-banner .section {
        top: 0;
    }
}

.icon-block {
    padding: 0 15px;
}

    .icon-block .material-icons {
        font-size: inherit;
    }

footer.page-footer {
    margin: 0;
}

.btn-invisible, .btn-invisible-brown {
    background-color: transparent;
    border-color: white;
    border: 1px solid white;
}

    .btn-invisible:hover, .btn-invisible-brown:hover {
        border: 1px solid White;
        background-color: transparent;
    }

.btn-invisible-brown {
    border-color: #795548;
    border: 1px solid #795548;
}

    .btn-invisible-brown:hover {
        border: 1px solid #795548;
        background-color: transparent;
    }

.text-brown {
    color: #795548;
}

.imagem-social {
    height: 30px;
    bottom: 6px;
    margin-right: 6px;
}

.horarios {
    margin-bottom: 30px;
} 
